.chat_messages {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  height: 100% !important;
}
.chat_messages::-webkit-scrollbar {
  width: 0.2rem;
}
.chat_messages::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}
.message {
  display: flex;
  align-items: center;
}
.message .content {
  max-width: 40%;
  overflow-wrap: break-word;
  padding: 0.7rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  color: #d1d1d1;
}
.sended {
  justify-content: flex-end;
}
.sended .content {
  background-color: #4f04ff21;
}
.recieved {
  justify-content: flex-start;
}
.recieved .content {
  background-color: #9900ff20;
}
