.Page_div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--body-color);
}
.Page_div > div {
  box-shadow: rgba(18, 85, 157, 0.35) 0px 5px 15px;
  background: #0b0914;
  border-radius: 2rem;
  overflow: hidden;
}
.form {
  width: 27%;
  padding: 2rem;
}
.brand {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  margin: 1.4rem 0;
}
.brand img {
  width: 40%;
  height: 100%;
  aspect-ratio: 1/1;
}
.form input {
  outline: blue !important;
  border: 2px solid blue;
  background: var(--body-color);
  color: white;
  padding: 0.9rem 0.7rem;
}
.form input:focus {
  outline: blue !important;
  border: 2px solid blue;
  background: var(--body-color);
  color: white;
}
.btn {
  color: white;
  font-weight: bold;
  background-color: var(--btn-color);
  border: none;
  padding: 0.9rem 0.7rem;
}
.btn:hover {
  background-color: blue;
}
.image_logo {
  border: 2px solid green;
}
.form p {
  margin: 1rem 0;
  color: white;
  font-size: 1rem;
}
.form span {
  margin: 1rem 0.2rem;
  color: blue;
  cursor: pointer;
}

/* //Avatar */

.avatar_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  width: 100%;
  color: white;
}
.avatars {
  display: flex;
  width: 60%;
  gap: 20px;
  padding: 20px;
}
.avatar {
  flex: 1;
  border-radius: 50%;
  border: 10px solid transparent;
}
.avatar.selected {
  border: 10px solid #ff6418;
}

/* //chat container */

.chat_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--body-color);
}

.chat {
  width: 85%;
  height: 85vh;
  display: grid;
  grid-template-columns: 25% 75%;
  background: var(--chat-bg) !important;
}

.contacts_container {
  display: grid;
  grid-template-rows: 10% 75% 15%;
  overflow: hidden;
  background-color: #080420;
}
.contacts_brand {
  display: flex;
  align-items: center;
  /* gap: 0rem; */
  justify-content: space-evenly;
  padding: 1rem;
}
.contacts_brand img {
  height: 4rem;
  width: 50%;
  aspect-ratio: 1/1;
}
.contacts_brand h3 {
  color: white;
  text-transform: uppercase;
}
.contacts_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 0.8rem;
}
.contacts_div::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}
.contacts_div::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}
.contact {
  background-color: #ffffff34;
  min-height: 5rem;
  cursor: pointer;
  width: 90%;
  border-radius: 0.2rem;
  padding: 0.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.contact img {
  height: 3rem;
}
.contact h3 {
  color: white;
}
.selected_contact {
  background-color: #9a86f3;
}
.current_user {
  background-color: #0d0d30;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.current_user img {
  height: 4rem;
  max-inline-size: 100%;
}
.current_user h2 {
  color: white;
}

/* Welcome Container */

.welcome_container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
.welcome_container img {
  height: 20rem;
}
.welcome_container span {
  color: #4e0eff;
}

/* Chat section */

.chat_section {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  gap: 0.1rem;
  overflow: hidden;
  border: 2px solid red;
}
.chat_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border: 2px solid red;
}
.user_details {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 2px solid green;
}
.user_image img {
  height: 3rem;
}
.user_name h3 {
  color: white;
}

@media screen and (max-width: 1080px) {
  .form {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .form {
    width: 85%;
  }
}
